/*===========================
 Author:Mohammad Nurilam Mridha
 ===========================*/
 /*======Common Section Start=====*/
 *{
padding: 0;
margin: 0;
box-sizing: border-box;
border: 0;
outline: 0;
 }
 body{

   font-family: 'Open Sans', sans-serif;
 }


  /*======Common Section End=====*/

 /*======Header Section Start=====*/
 header{
   width: 100%;
   height: 50px;
   position: fixed;
   top: 0;
   left: 0;
   background: #fff;
   z-index: 999;
 }
 .header-toggle{
display: inline-block;
float: left;
margin-left: 30px;
margin-top: 10px;
 }
 .header-toggle label i{
font-size: 20px;
color: #888;
  }
 .header-logo{
display: inline-block;
float: left;
margin-left: 25px;
margin-top: 5px;
margin-right: 70px;
width: 100px;
height: 100%;
  }
 .header-logo img{
width: 100%;
height: 30px;
overflow: hidden;
  }
 .header-search{
display: inline-block;
width: 450px;
height: 30px;
margin-top: 10px;
float: left;
position: relative;
 }
 .header-search input{
width: 100%;
height: 100%;
padding-left: 15px;
border: 1px solid #888;
 }
  .search-history{
    background: #ddd;
    position: fixed;
    top: 40px;
    left: 242px;;
  width: 450px;
  border-left: 1px solid #888;
  border-bottom: 1px solid #888;
  border-right: 1px solid #888;
  box-shadow: 5px 5px 2px #888;
  display: none;
  z-index: 20000;
  overflow-y: scroll;
  overflow-x: hidden;
}

  .search-history table{
       border-collapse: collapse;
}
  .search-history table tr{
}
  .search-history table tr:hover{
    background: rgba(0, 0, 0, 0.2);
  }

  .search-history table tr td{
    padding: 7px 10px;
    font-weight: 800;
    font-size: 18px;
  }
  .search-history table tr td:first-child{
width: 90%;
     }
  .search-history table tr td:last-child{
  width: auto;
}
  .search-history table tr td a{
    text-decoration: none;
  }
  .search-history table tr td a:hover{
    text-decoration: underline;
  }
   .header-search input:focus ~ .search-history{
     display: block;
   }
 .search-icon{
   display: inline-block;
   width: 70px;
   height: 30px;
   margin-top: 10px;
   float: left;
   background: white;
   border-top: 1px solid #888;
   border-right: 1px solid #888;
   border-bottom: 1px solid #888;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 60px;
 }
 .search-icon i{
   color: #888;
}
 .header-icon{
display: grid;
grid-template-columns: auto auto auto auto;
grid-gap: 10px;
 }
 .header-icon-item{
  text-align: center;
    }
 .header-icon-item i{
   font-size: 20px;
   padding-top: 15px;
   color: #888;
 }
 .header-icon .creates{}
 .header-icon .apps{}
 .header-icon .notification{}
 .header-icon .profile{
   padding-top: 5px;
 }
 .header-icon img{

   width: 40px;
   height: 40px;
   border-radius: 50%;
 }
  /*======Header Toggle Start=====*/
.header-toggle{

}
.header-toggle input[type=checkbox]{
  display: none;
}
.header-toggle .toggle{
  width: 235px;
  background: #ffffff;
  top: 53px;
  left: -999px;
  border-right: 1px solid rgba(0,0,0,.2);
  transition: all .3s;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1000;
}
.toggle-top{
  width: 100%;
}
.toggle-top h1{
  font-weight: 600;
  font-size: 15px;
  text-align: center;
 padding: 10px 0px;
}
.toggle-top table{
  border-collapse: collapse;
  width: 100%;
  padding: 0 10px;
  border-bottom: 1px solid rgba(0,0,0,.2);
}
.toggle-top table tr{}
.toggle-top table tr:hover{
  background: rgba(0, 0, 0, 0.1);
}
.toggle-top table tr td{}
.toggle-top table tr td a{
  text-decoration: none;
  padding: 0 5px;
  font-size: 14px;
  color: #888;
}
.toggle-top table tr td img{
  width: 35px;
  height: 30px;
}
.toggle-top table tr td .sound{
  width: 20px;
  height: 15px;
  float: right;
  margin-right: 10px;
}
.toggle-top table tr td:first-child{
  width: 35%;
  padding-left: 20px;
}
.toggle-top table tr td:last-child{
  width: 65%;
}
.toggle-bottom{
  padding-top: 10px;
  padding-left: 20px;
}
.toggle-bottom p{
font-size: 12px;
font-weight: 600;
color: #888;
}
.toggle-footer{
  padding-left: 20px;
  margin-top: 30px;
  margin-bottom: 66px;
}
.toggle-footer p{
  font-size: 12px;
}
#show:checked~.toggle{
left: 0;
}
 /*======Header Toggle End=====*/
 /*======Header Section End=====*/

 /*======Left Sidebar Start=====*/
.left-sidebar{
width: 73px;
height: 100%;
position: fixed;
top: 58px;
left: 0;
}
.left-sidebar .left-sidebar-item{
margin: 20px 0;
width:100%;
}
.left-sidebar .left-sidebar-item .img{
  display: flex;
  justify-content: center;
}
.left-sidebar .left-sidebar-item img{
  width: 35px;
  height: 30px;
  justify-content: center;
}
.left-sidebar .left-sidebar-item p{
  font-size: 11px;
  display: block;
  text-align: center;
  padding-left: 3px;
}
  .left-sidebar .left-sidebar-item:hover{}
 /*======  Left Sidebar End     =====*/

 /*======  Right Sidebar Start    =====*/
.right-sidebar{
margin-left: 73px;
}
/*======  Right Sidebar fixed start    =====*/
.right-header{
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  position:fixed ;
  top: 50px;
  left: 73px;
  background: #fff;
  z-index: 900;
}
.right-header-container{
  padding-left: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.right-header p{
  display: inline-block;
  border: 1px solid #888;
  border-radius:15px;
  padding: 5px;
  margin-left: 10px;
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all .5s;
}
.right-header p:first-child{
  padding: 5px 20px;
  background: rgba(0,0,0,.5);
  color: #fff;
}
.right-header p:hover{
  background: rgba(0, 0, 0, 0.3);
}

 /*======  Right Sidebar fixed end     =====*/
 /*======  Right Sidebar scroll start   =====*/

  /*====== News Section Start    =====*/
.mr{
  padding-top: 120px;
}
.news{
  padding: 20px;
  display: grid;
  grid-row-gap: 15px;
  grid-template-columns: auto auto auto;
}
.news-item{
  width: 302px;
  height: auto;
}
.news-top{
}
.news-img{
  width: 100%;
  height: 150px;
  overflow: hidden;
}
.news-img img{
  width: 100%;
  height: 100%;
  transition: all 3s;
}
.news-img img:hover{
  transform: scale(2);
}
.news-watch{
  display: none;
}
.news-que{
    display: none;
}
.news-bottom{
  padding-top: 10px;
  display: grid;
  grid-column-gap: 2px;
  grid-template-columns: auto auto auto;
}
.news-bottom-item{
}
.news-logo{
padding-top: 0px;
}
.news-logo img{
width: 40px;
height: 40px;
border-radius: 50%;
}
.news-content{
  padding: 0 5px;
}
.news-title{}
.news-title p{
  font-size: 14px;
  font-weight: 600;
}
.channel-name{}
.channel-name p{
  font-size: 18px;
  color: #888;
}
.news-time{}
.news-time span{
  font-size: 14px;
  color: #888;
}
 /*====== News Section End    =====*/

 /*====== Post Section Start    =====*/
 .post{
   border-top: 5px solid #888;
   border-bottom: 5px solid #888;
   margin-top: 20px;
   margin-left:20px;
   margin-bottom: 30px;
   padding-bottom: 25px;
   padding-right: 25px;
 }
 .post h2{
   padding: 15px 10px;
 }
.post-container{
  display: grid;
grid-gap: 15px;
grid-template-columns: auto auto;
}
.post-item{
  padding:10px 20px;
  border: 1px solid #888;
}
.post-top{
  display: grid;
  grid-template-columns: 60px auto;
}
.post-top img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.post-top p{
  padding-top: 10px;
}
.post-middle{
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto 160px;;
}
.post-middle p{
  font-size: 14px;
}
.post-middle img{
  width: 140px;
  height: 120px;
}
.post-bottom {
  margin-top: 10px;
}
.post-bottom .like{
  display: inline-block;
  float: left;
}
.post-bottom .like i{
  font-size: 18px;
}
.post-bottom .like span{
  margin-left: 10px;
  font-size: 18px;
  color: #888;
}
.post-bottom .dislike{
  display: inline-block;
  float: left;
  margin-left: 15px;
}
.post-bottom .dislike i{
  font-size: 18px;
}
.post-bottom .dislike span{
  margin-left: 10px;
  font-size: 18px;
  color: #888;
}
.post-bottom .comments{
  display: inline-block;
  float: right;
}
.post-bottom .comments i{
  font-size: 18px;
}
.post-bottom .comments span{
  margin-left: 10px;
  font-size: 18px;
  color: #888;
}
 /*======Post section end     =====*/
 /*====== Right Sidebar scroll end     =====*/
 /*======   Right Sidebar End   =====*/
 /*======      =====*/
